pyyaml==6.0
polling==0.3.2
boto3==1.26.35
watchdog
slack_sdk==3.19.5
sdc_aws_utils @ git+https://github.com/HERMES-SOC/sdc_aws_utils.git
moto==4.1.6
astropy==5.1.1
pytest==7.2.2
pytest-astropy==0.10.0
pytest-cov==4.0.0
psycopg==3.1.8
flake8==6.0.0
black==23.1.0
