# Environmental Variables for s3watcher

# Docker Container name
CONTAINER_NAME=s3watcher

# Docker Image name
IMAGE_NAME=s3watcher

# S3 bucket name (Note:Support directories as well s3-bucket-name/directory)
S3_BUCKET_NAME=s3-bucket-name

# SQS Queue Name
SQS_QUEUE_NAME=sqs-queue-name

# Filepath to the directory to be watched (Needs to be created/existing before running)
DOWNLOAD_DIR=~/dbarrous

# User to save file as (Defaults to the user that starts the docker image)
# USER=username

# Setup Queue and Bucket Notifications if it doesn't exist
SETUP=true

# Concurrency limit (Limit of concurrent uploads)
CONCURRENCY_LIMIT=100

# AWS region (Used for Timestream Database)
AWS_REGION="us-east-1"

# Get path of current working directory (where the script is located)
SCRIPT_PATH=$(pwd)

# Allow Delete of files to match Watch Directory
ALLOW_DELETE=false

# Check Against S3 when Backtracking
CHECK_S3=false

# TimeStream database name (optional)
# TIMESTREAM_DB=""

# TimeStream table name (optional)
# TIMESTREAM_TABLE=""

# Slack token (optional)
# SLACK_TOKEN=""

# Slack channel (optional)
# SLACK_CHANNEL=""
